
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/Demo-1-master.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
*.psd
image/background.jpg
src/test2.js
src/task2.js
.idea/vcs.xml
